 <div class="panel panel-default dashboard-box">
              <div class="panel-heading">
                <h3 class="panel-title">Global Requests <input type="text" class="form-inline" ng-model="className" name="" placeholder="Search"></h3>
              </div>
              <div class="panel-body dashboard-box">
                <ol class="breadcrumb" ng-repeat="class in classes | filter: className">
                  <a ng-click="class.viewDetails=!class.viewDetails" href="#">{{class.name}}</a> 
                  <small> <button  ng-click="open(class)" class="btn btn-primary  small-button-right">Bid</button> </small>
                  <br>
                    <span ng-show="class.viewDetails">{{class.details}}</span>
                  </ol>
              </div>
        </div>